@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$nav-col: #88D2E3;
$card-col: #ecb893;

*{
    font-family: 'Josefin Sans', sans-serif;

}

.nav-bar {
    background-color: $nav-col;
    width: 100vw;
    padding: 1rem;
    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }
}

.link{
    text-decoration: none;
    color: black;

    &:hover{
        color: white;
    }
}

.link-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;
    margin: 1rem;

    .link{
        background-color: $card-col;
        width: 10rem;
        height: 5rem;
        border-radius: 0.2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding: auto;

        &:hover{
            scale: 1.1;
        }
        
    }
}

.draw-area {
    border: 1px solid black;
    width : 1400px;
    height: 650px;
    background-color: black;
}


.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 2rem;

    input{
        width: 80%;
    }
}

.info-container{

    table{
        width: 100%;
    }

    td, th{
        width: 50%;
        padding: 1rem;
        border: 1px solid black;
    }

    th{
        background-color: antiquewhite;
    }
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div{
        display: flex;
        flex-direction: row;
    }

    .cell{
        width: 5rem;
        height: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid black;
        margin-top: -1px;
        margin-left: -1px;

        p{
            margin: 0.1rem;
        }

        p:nth-of-type(1){
            color: green;
        }
    }
}

.graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}